<header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">What is our Mission?</div>
                <div class="intro-heading">We provide credit-building, affordable loans that help the underserved Hispanic community build a better future.</div>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>
  <section id="about-our-loans">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 class="section-heading">LOANS FOR A BETTER FUTURE</h2>
                      <h3 class="section-subheading text-muted">Oportun, formerly Progreso Financiero, helps customers with limited or no credit history build a better future by:</h3>
                  </div>
              </div>
              <div class="row text-center">
                  <div class="col-md-4">
                      <span class="fa-stack fa-4x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <strong class="fa-stack-1x">1</strong>
                      </span>
                      <p class="text-muted">Offering personal loans of $300 - $6,000* with affordable, fixed payments (no bank account, previous loan, or collateral like auto titles required).</p>
                  </div>
                  <div class="col-md-4">
                      <span class="fa-stack fa-4x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <strong class="fa-stack-1x">2</strong>
                      </span>
                      <p class="text-muted">Helping individuals establish or build their credit history by reporting customer accounts to credit bureaus.</p>
                  </div>
                  <div class="col-md-4">
                      <span class="fa-stack fa-4x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <strong class="fa-stack-1x">3</strong>
                      </span>
                      <p class="text-muted">Providing personal service through bilingual (English/Spanish) staff in 170+ locations in California, Illinois, Nevada, Texas, and Utah in addition to bilingual staff at call centers.</p>
                  </div>
              </div>
          </div>
  </section>
  <section id="customers" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Watch Our Customers' Stories</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/images/face1.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Yelena</h4>
                    <p class="text-muted">"..changed my life, helped me start my business"</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/images/face2.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Carlos</h4>
                    <p class="text-muted">"..helped me buy the tools I needed for work</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/images/face3.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Gabriella</h4>
                    <p class="text-muted">"..helped me get back on my feet and find a job"</p>
                </div>
            </div>

        </div>
    </div>
  </section>
  <section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
              <div class="video-player">
                <iframe src="https://www.youtube.com/embed/fcavYb_VWs0" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="col-lg-7">
              <p><strong>Oportun</strong> was founded in 2005 with the goal of providing credit-building, affordable loans to the approximately 25 million financially-underserved Hispanics in the US, many of whom have limited or no credit history.</p>
              <p>To learn more about Oportun, including how the company has been able to leverage technology and advanced data analytics to score the “unscoreable” and provide affordable, credit-building loans to hundreds of thousands of customers, please visit “About Us.”</p>
            </div>
        </div>
    </div>
  </section>
